 <!-- <div class="css-1gurero">
   <div class="css-1ks06cf">
     <div class="css-17d2ind">
       <img src="assets/ovo.png" alt="Wallet Icon">
     </div>
     <div class="css-en83bs">
       <span>OVO</span>
       <span class="css-emnma7">Aktivasi</span>
     </div>
   </div>
   <div class="css-1ks06cf">
     <div class="css-17d2ind">
       <img src="assets/point.svg" alt="Tokopoints Icon">
     </div>
     <div class="css-en83bs">
       <span>TokoPoints</span>
       <span class="css-1tx2dd">0 Points</span>
     </div>
   </div>
 </div> -->
 <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/car1.jpg" alt="Promo1" class="img-fluid">
          </div>
          <div class="carousel-item">
              <img src="assets/car2.jpg" alt="Promo2" class="img-fluid">
          </div>
          <div class="carousel-item">
              <img src="assets/car3.jpg" alt="Promo3" class="img-fluid">
          </div>
          <div class="carousel-item">
              <img src="assets/car4.jpg" alt="Promo4" class="img-fluid">
          </div>
        </div>
<br>
