<br>

<div class="container-fluid">
  <h6>Kategori Pilihan Untukmu</h6>
</div>
<div class="row">
    <a href="perdana" class="col">
      <div class="container-fluid">
        <img src="assets/perdana.jpg" alt="Perdana" class="img-fluid">
      </div>
    </a>
    <a href="dekorasi" class="col">
        <div class="container-fluid">
          <img src="assets/dekorasi.jpg" alt="Dekorasi" class="img-fluid">
        </div>
      </a>
      <a href="mobil" class="col">
          <div class="container-fluid">
            <img src="assets/mobil.jpg" alt="Aksesoris Mobil" class="img-fluid">
          </div>
        </a>
  </div>
  <div class="row">
      <a href="makanan" class="col">
        <div class="container-fluid">
          <img src="assets/makanan.jpg" alt="Makanan Kering" class="img-fluid">
        </div>
      </a>
      <a href="laptop" class="col">
          <div class="container-fluid">
            <img src="assets/laptop.jpg" alt="Aksesoris Laptop" class="img-fluid">
          </div>
        </a>
        <a href="figure" class="col">
            <div class="container-fluid">
              <img src="assets/figure.jpg" alt="Figure" class="img-fluid">
            </div>
          </a>
    </div>
