

  <div class="row">
    <a href="kategori" class="col">
      <div class="container-fluid">
        <img src="assets/kategori.png" alt="Kategori" class="img-fluid">
      </div>
      <p class="small text-center text-muted">kategori</p>
    </a>
    <a href="flight" class="col">
        <div class="container-fluid">
          <img src="assets/pesawat.png" alt="Flight" class="img-fluid">
        </div>
        <p class="small text-center text-muted">Flight</p>
      </a>
      <a href="kereta" class="col">
          <div class="container-fluid">
            <img src="assets/kereta.png" alt="Tiket Kereta" class="img-fluid">
          </div>
          <p class="small text-center text-muted">Tiket Kereta</p>
        </a>
        <a href="emas" class="col">
            <div class="container-fluid">
              <img src="assets/emas.png" alt="Emas" class="img-fluid">
            </div>
            <p class="small text-center text-muted">Emas</p>
          </a>
          <a href="jual" class="col">
              <div class="container-fluid">
                <img src="assets/jual.png" alt="Jual" class="img-fluid">
              </div>
              <p class="small text-center text-muted">Jual</p>
            </a>
      </div>
      <div class="row">
        <a href="store" class="col">
          <div class="container-fluid">
            <img src="assets/store.png" alt="Official Store" class="img-fluid">
          </div>
          <p class="small text-center text-muted">Official Store</p>
        </a>
        <a href="phone" class="col">
            <div class="container-fluid">
              <img src="assets/phone.png" alt="Handphone & Tablet" class="img-fluid">
            </div>
            <p class="small text-center text-muted">Handphone & Tablet</p>
          </a>
          <a href="listrik" class="col">
              <div class="container-fluid">
                <img src="assets/listrik.png" alt="Listrik PLN" class="img-fluid">
              </div>
              <p class="small text-center text-muted">Listrik PLN</p>
            </a>
            <a href="pinjaman" class="col">
                <div class="container-fluid">
                  <img src="assets/pinjaman.png" alt="Pinjaman Online" class="img-fluid">
                </div>
                <p class="small text-center text-muted">Pinjaman Online</p>
              </a>
              <a href="lainnya" class="col">
                  <div class="container-fluid">
                    <img src="assets/lainnya.png" alt="Lainnya" class="img-fluid">
                  </div>
                  <p class="small text-center text-muted" >Lainnya</p>
                </a>
      </div>
  <br>
