<div class="row container-fluid">
  <div class="col"><p style="font-weight: bold">FLASH SALE</p></div>
  <div class="col">
  <countdown-timer [end]="'2019-03-26 12:00:00'" class="css-zl11xg"></countdown-timer>
    </div>
    <div class="col"><a href="lihatSemua" ><span class="ss-4dq6r">Lihat Semua</span></a></div>
</div>
<div class="row container-fluid" id="ads">
    <a href="flash1" class="col">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-year">15% Off</span>
                <img class="img-fluid" src="assets/nokia.jpg" alt="flash 1" />
            </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge small">Rp 200.000</span>
            </div>
        </div>
    </a>

        <a href="flash2" class="col">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-year">15% Off</span>
                    <img class="img-fluid" src="assets/pbank.jpg" alt="flash 2" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge small">Rp 300.000</span>
                </div>
            </div>
          </a>
          <a href="flash2" class="col">
              <div class="card rounded">
                  <div class="card-image">
                      <span class="card-notify-year">15% Off</span>
                      <img class="img-fluid" src="assets/pbank.jpg" alt="flash 2" />
                  </div>
                  <div class="card-image-overlay m-auto">
                      <span class="card-detail-badge small">Rp 300.000</span>
                  </div>
              </div>
            </a>
    </div>
    <div class="row container-fluid" id="ads">
        <a href="flash1" class="col">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-year">15% Off</span>
                    <img class="img-fluid" src="assets/nokia.jpg" alt="flash 1" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge small">Rp 200.000</span>
                </div>
            </div>
        </a>

            <a href="flash2" class="col">
                <div class="card rounded">
                    <div class="card-image">
                        <span class="card-notify-year">15% Off</span>
                        <img class="img-fluid" src="assets/pbank.jpg" alt="flash 2" />
                    </div>
                    <div class="card-image-overlay m-auto">
                        <span class="card-detail-badge small">Rp 300.000</span>
                    </div>
                </div>
              </a>
              <a href="flash2" class="col">
                  <div class="card rounded">
                      <div class="card-image">
                          <span class="card-notify-year">15% Off</span>
                          <img class="img-fluid" src="assets/nokia.jpg" alt="flash 2" />
                      </div>
                      <div class="card-image-overlay m-auto">
                          <span class="card-detail-badge small">Rp 200.000</span>
                      </div>
                  </div>
                </a>
        </div>
